
<a href="/users/<%=@user.id%>"> Bright Ideas</a>
<br/>
<h3>Name: <%= @user.first_name %> <%= @user.last_name%></h3>
<h3>Alias: <%= @user.last_name %></h3>
<h3>Email: <%= @user.email %></h3>
<hr />
<p>Total Number of Ideas: <%= @ideas %></p>
<p>Total Number of Likes: <%= @likes %></p>
